html,
body {
    margin: auto;
    align-content: center;
    min-height: 740px;
    background-color: rgb(241, 234, 224);
    font-family: 'Roboto';
    /* border-style: solid;
    border-width: 10px;
    
    border-color: antiquewhite; */
    animation: blurry .4s, body .3s;
 
    
}
/* @keyframes body{
    0%{background:#45bef1}
    25%{background:#f6511d}
    50%{background: white}
    75%{background:#fa8d1d}
    100%{background:#45bef1}
}

@keyframes blurry {
    0% {
      filter: blur(0px);
      transform: scale(.1);
    }
    30% {
        filter: blur(0px);
        transform: scale(.3);
      }
   
    70% {
        filter: blur(1.5px);
        transform: scale(.7);
      }
    100% {
        transform: matrix3d(1.106, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: scale(1);
    }
} */
.outside{
    min-width: 320px;
    max-width: 967px;
    min-height: 740px;
    /* border-style: solid;
    border-width: 15px;
    border-radius: 10px; */
    
}

.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.inner{
    flex: 1 0 auto;
    flex-shrink: 1;
}

.jumbotron {
    margin-bottom: 0rem;
    font-family: 'Roboto'
}
.mainPic {
    display: flex;
    justify-content: center;
}

.mainPic:hover {
    transform: translateY(-5px);
}
.wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
}

.one {
    grid-column: 2;
  }
  .two { 
    grid-column: 3;
  }
  .three {
    grid-column: 4;
  }

.fas {
    padding: .3rem 0;
    font-size: 3rem;
}

  .footer {
    width:auto ;
    height:100px; 
    position: relative; 
    left: 0;
    right: 0;
    bottom: 0 !important;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgba(245, 220, 183, 0.253);    /*#efefef; */
    margin: 0 auto;
    text-decoration: none;
    margin-top: 10vh;;
  }


.thumbnails {
display:flex;
flex-direction:row;
flex-wrap:wrap;
margin:40px 14% 50px;
justify-content:center;
}
.thumbnail {
height:70px;
width:90px;
display:flex;
align-items:center;
text-align:center;
justify-content:center;
border: 1px solid;
border-radius:10%;
margin-top: 10px;
font-family: "Roboto"; /*"Amatic SC"; */
font-weight:bold;
text-shadow: -1px 0 palevioletred,0 1px palevioletred,1px 0 palevioletred,0 -1px palevioletred;
font-size:1.2em;
padding:0.5px;
letter-spacing:1.5px;
color:black;

}

.thumbnail:hover {
background-color:coral;
text-decoration:none;
color: rgb(89, 2, 0);
}

.bottomLinks {

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top: 80px;
    margin-bottom: 210px;
  }

  .bottomLinks-icons {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
  }

  .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgba(0, 0, 0, 0.803);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: .4em;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .thumbnail:hover .tooltiptext {
    visibility: visible;
    margin: 4em -3.6em;

  }

  .scroll {
    border-style: inset;
    border-width: 1px;
    border-radius: 5px;
    max-height: 600px;
    overflow-y: auto;
}
.single-proj{
    margin-top: 0rem;
    min-height: 967px;
    
}
.projects-grid {
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-auto-rows: minmax(100px, auto);
}
.project-card:hover {
    background-color: rgb(241, 220, 189) !important;
    padding: 9px;
    transform: translateY(-5px)
}